body {
  background-color: #ddd;
}

.object {
  height: 400px;
  width: 400px;
  position: relative;
}

.object__video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 2s, visibility 2s;
}

.object__video_hidden {
  visibility: hidden;
  opacity: 0;
}
